/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-de-texto);
    background: url('/img/cidade.jpg') no-repeat center center/cover;

    /* Overlay */
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}